BREVO_API_KEY=xkeysib-sua-chave-api
BREVO_SENDER_EMAIL=seu-remetente-verificado@dominio.com
BREVO_SENDER_NAME=FlyGuide

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=seu-email@gmail.com
MAIL_PASSWORD=sua-senha-de-app-do-gmail-sem-espacos
MAIL_FROM=seu-email@gmail.com
